body { padding: 0; background: grey }
#checker { margin: 0 auto; width: 1680px; background: none;}
#page_wrapper_home { margin: 0 auto 40px auto; width: 981px; background: none;}
#page_top_home { padding:5px; background: #fff; }
#page_header_home { border: 0px solid #fff }
#page_content_home { padding:0 0 5px 0; background: none; }
#page_footer_home {margin:60px 0 0 0; padding:15px; border-top:1px solid #8a8a8a;}
#padding_home {padding:0 10px 20px 10px;}

#page_wrapper_folge { margin: 0 auto; width: 981px; background: none;}
#page_top_folge { padding:5px; background: #fff; }
#page_header_folge { border: 0px solid #fff }
#page_content_folge { padding:20px 15px 5px 15px; background: #fff;}
#page_footer_folge {margin:20px 0; padding:15px; border-top:1px solid #8a8a8a;}

#logo { margin:9px 0 0 0}
#nav_home { margin-bottom: 10px; padding: 0px 0px 3px;}
#nav_folge { margin-bottom: 10px; padding: 0px 0px 3px;}

#main_home { margin-bottom: 20px; padding: 0 }
#main_folge { margin-bottom: 20px; padding: 5px }

#content_home { float: left; width: 570px; padding:2px 0 0 0}
#content_folge { float: left; width: 700px; }

#action_home { float: right; width: 345px; padding:18px 0 0 0}
#action_folge { float: right; width: 207px; }

/*#header_home {position: relative}
#header_folge {position: relative}*/
.header {background:none; height:411px; background-image:url(../images/schwarzwaldmaedl.png) no-repeat 620px 0;}
#header_home {background:none }
#header_image {text-align:center;}
#top_home {}
#top_folge {}

#top a, #top a:hover { color: #444 }

ul#navlist { list-style:none; margin: 8px 0 0; padding: 0;}
ul#navlist li { float: left; list-style-type:none !important; margin:0; }
ul#navlist li.navlink { padding: 0;  }
ul#navlist li.navlink:last-child {border: 0}
ul#navlist li.navlink a.navlink_a { font-size: 14px; color: #fff; padding:14px 15px 12px; font-weight: bold }
ul#navlist li.navlink a.navlink_a:hover, ul#navlist li.navlink a.active { color:#77b924; text-decoration:none;  }

