html * { font-size: 100.01%; }

body {
font-family: Arial, Verdana, sans-serif;
font-size: 75.00%;
color: #444;
}

h1,h2,h3,h4,h5,h6 {
font-family: Arial, Verdana, sans-serif;
font-weight:normal;
color:#444;
margin: 0 0 0.25em 0;
}

h1 { font-size: 170%; font-weight:bold; color:#1b6ab1; }
h2 { font-size: 150%; font-weight:bold; color:#e70013; }
h3 { font-size: 120%; color:#1b6ab1;}
h4 { font-size: 110%; color:#000; }
h5 { font-size: 110%; color:#1b6ab1; }
h6 { font-size: 110%; }

ul, ol, dl { line-height: 1.5em; margin: 0 0 1em 1em; }
ul li { list-style-type: disc; }
ul ul li { list-style-type: circle; }

ol li { list-style-type: decimal; }
ol ol li { list-style-type: lower-latin; }

li { margin-left: 0.8em; line-height: 1.5em; }

p { line-height: 1.5em; margin: 0 0 15px 0; }

h4 a, h2 a, a { color: #e70013; background:transparent; text-decoration:none; }
h4 a:hover, h2 a:hover, a:hover { color:#810013; text-decoration:underline; }

p.icaption_left { float:left; display:inline; margin: 0 1em 0.15em 0; }
p.icaption_right { float:right; display:inline; margin: 0 0 0.15em 1em; }

p.icaption_left img,
p.icaption_right img { padding:0; border: 1px #888 solid; }

p.icaption_left strong,
p.icaption_right strong { display:block; overflow:hidden; margin-top: 2px; padding: 0.3em 0.5em; background: #eee; font-weight: normal; font-size: 91.667%; }

.highlight { color: #c83e94; }
.dimmed { color: #888; }
.bold { font-weight: bold }

.info, .warning, .error, .success { padding: 10px 10px 10px 35px; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; margin-bottom: 20px}
.info h2, .warning h2, .error h2, .success h2 { margin-bottom: 10px; color: #444; font-size: 130% }
.info ul, .warning ul, .error ul, .success ul { margin: 0 }

.info { background: #d1ecf7 url(images/icons/icon-info.png) no-repeat 10px 8px; border-color:#bcdfef; color:#444; }
.error { background: #fff6bf url(images/icons/icon-warning.png) no-repeat 10px 8px; border-color:#fceb77; color:#444; }
.warning { background: #fad0d0 url(images/icons/icon-error.png) no-repeat 10px 8px; border-color:#f6abab; color:#444; }
.success { background: #e5f8ce url(images/icons/icon-success.png) no-repeat 10px 8px; border-color:#d0f1a6; color:#444; }
/*
.info { background: #f8f8f8; color: #666; padding: 10px; margin-bottom: 0.5em; font-size: 91.7%; }
.note { background: #efe; color: #040; border: 2px #484 solid; padding: 10px; margin-bottom: 1em; }
.important { background: #ffe; color: #440; border: 2px #884 solid; padding: 10px; margin-bottom: 1em; }
.warning { background: #fee; color: #844; border: 2px #844 solid; padding: 10px; margin-bottom: 1em; }
.warning * { color: #844; } 
.description { background: #d4d3cf; color: #444; border: 1px solid #b2b2b2; padding: 10px; margin-bottom: 1em; }
*/

.float_left { float: left; display:inline; }
.float_right { float: right; display:inline; }
.center { display:block; text-align:center; margin: 0.5em auto; }

table { width: auto; border-collapse:collapse; margin-bottom:20px; border-top:1px #888 solid; border-bottom:1px #888 solid; }
table.full { width:100%; }
table.fixed { table-layout:fixed; }
table.fullfixed { table-layout:fixed; width: 100% }

table th { padding:0.5em; text-align:left; font-weight:bold}
table td { padding:0.5em; text-align:left; font-weight:normal}
table th p,table  td p { margin:0; padding: 0 }
table th { background:#C0C0C0; color:#3b3938; }
table tr { border-bottom: 1px solid #f2f2f2 }
table tr.light {}
table tr.dark { background: #f2f2f2 }
table tr:hover { background: #c0c0c0 }

