/*BOXES*/
.box_address { padding: 5px; }
.box_address p { margin: 0 }
#logo {background:#0b46a0 url(../images/bg_logo.png) bottom repeat-x; padding:4px 16px 9px 16px; margin-top:0}
/*LINKS*/
a.listitem_link {  display: block; padding: 3px }
a.listitem_link:hover { }

/*FULL*/
#full { margin-bottom: 40px }
.full_intro {  margin-bottom: 20px }
.full_intro * {  }
.gallery IMG {margin-bottom:15px;}
#languages {padding:60px 0 0 178px; display:none;}
#languages IMG {margin:0 10px 0 0}

.article_action { float: left; width: 240px }
/* .article_action img { -moz-box-shadow: 0 0px 2px #444; -webkit-box-shadow: 0 0px 2px #444; box-shadow: 0 0px 2px #444; } */
.article_action_box { margin-bottom: 15px }
.article_action_box a.listitem_link { }
.article_action_box a.listitem_link:hover { }
.article_action_box_caption { background: #f1f1f1; padding: 5px; font-size: 95% }
.article_content { float: right; width: 435px; }
.article_action_box .map_action_direction input.box { padding:6px; width:280px;}

/*LINE*/
.line, .tdb_line_poi { margin-bottom:20px; padding-bottom: 10px; border-bottom:1px solid #D6D0CC; }
.line_image { float:left; width:225px }
/* .line_image img { -moz-box-shadow: 0 0px 2px #444; -webkit-box-shadow: 0 0px 2px #444; box-shadow: 0 0px 2px #444; } */
.line_content { float:right; width:455px }
.line_maplink {display:block; text-align:right; padding:15px 50px 15px 0; background:url(../images/search.png) no-repeat right; }

.line_gallery { margin-bottom: 20px }
/* .line_gallery img { -moz-box-shadow: 0 0px 2px #444; -webkit-box-shadow: 0 0px 2px #444; box-shadow: 0 0px 2px #444; } */
.line_gallery_sub { font-size: 95%; margin-top: 5px }

.line_list {margin-bottom:20px; padding-bottom: 10px; border-bottom:1px solid #f2f2f2;}


.line_scroller { padding: 20px; color: #fff }
.line_scroller:hover { cursor: pointer }
.line_scroller * {color: #fff; text-shadow: 0px 0px 10px #000, 1px 1px #000; font-weight: bold}
.line_scroller h2 { font-size: 240%; margin-bottom: 15px  }
.line_scroller h3 { font-size: 160%; margin-bottom: 10px }
.line_scroller p { font-size: 120% }

.line_newsfolder {}
.line_newsfolder h2.line_newsfolder_headline { border-bottom: 1px solid #f2f2f2; padding-bottom: 5px; margin-bottom: 10px; color: #444}
.line_newsfolder h2.line_newsfolder_headline a { color: #444 }
.line_newsfolder_link { text-align: right }

.line_widget {border-bottom:none;}

/*LISTITEM*/
.listitem_teaser, .listitem_webcam, .listitem { float:left; margin-bottom: 10px;}
.listitem_teaser_inner { width: 215px }
.listitem_teaser_main { padding: 5px }
.listitem_teaser_main_gruen1 { background: #305b0c url(images/teaser-bg-green.jpg) no-repeat top; padding: 5px }
.listitem_teaser_main_gruen2 { background: #5fa014 url(images/teaser-bg-light-green.jpg) no-repeat top; padding: 5px }
.listitem_teaser * { }
.listitem_teaser h2 { font-size: 16px; font-weight: normal; margin: 5px 0 5px }
.listitem_teaser_image { height: 120px; overflow: hidden }
.listitem_teaser_text { padding: 10px 5px; }
.listitem_teaser_text:hover { cursor: pointer }
.listitem_teaser_text p { margin: 0 }
.listitem_teaser_button { padding: 0 0 5px 5px }
.tdb_listitem_intro {height:100px}
.tdb_listitem_content_inner h3{height:60px; padding-top:7px;}
.clearer {padding:0 0 20px 0}
.listitem_center {margin:0 20px}
.breaker {margin-bottom:20px}

.listitem_navigation { width: 195px; margin: 5px 0px; font-size: 10px; float: left }
.listitem_navigation_inner { padding:5px }
.listitem_navigation:hover { background: #f2f2f2; cursor: pointer }
.listitem_navigation_image { float:left; width:45px; }
.listitem_navigation_image a img { display: block; padding-top: 3px  }
.listitem_navigation_content { float:right; width:130px; }
.listitem_navigation_content p { margin: 0; line-height: 13px; }
.listitem_navigation_content a, .listitem_navigation_content a:hover { color: #000; text-decoration: none; font-weight: normal;}
.listitem_navigation_content a.listitem_navigation_content_headline { font-size: 12px; font-weight: bold; margin: 0; padding: 0; color: #fff }
.listitem_navigation_content a.listitem_navigation_content_headline: hover { font-weight: bold }

#drawers {margin-top:225px; padding:0 0 0 160px}

.listitem_drawer {width:190px; color:#fff; text-shadow: 2px 2px 1px #000000; filter: dropshadow(color=#000000, offx=1, offy=1); }
.listitem_drawer H1 {color:#fff; font-size:18px}
.listitem_drawer A {color:#fff}
.listitem_drawer A {text-decoration:none;}
.listitem_drawer .extra_text {color:#78B424; font-size:20px; font-weight:bold;}

#toubizbox {position:absolute; z-index:100; top:-255px; left:680px; background:#fff; display:none; border:3px solid #fff;}
#toubizbox .padder {background:#fff; padding:12px 4px 12px 12px;}
#toubizbox .bottom_padder {margin:0 0 12px 0}
.toubizbox_element {width:112px; float:left;}
.toubizbox_element A {color:#000; font-size:11px;}
.toubizbox_element A:hover {text-decoration:none;}
.red_links {color:#ed0008}
.start_overnight {padding:0 0 0 20px}
.portal_start {background:none;}

/* .listitem_navigation_content h4 a { color: #1b6ab1 } */
.service_box {padding:10px 0 0 0; margin-bottom:20px;}
.listitem_host { margin-bottom: 20px; }
.listitem_host H2 {font-size:15px;}
.listitem_host_image {}
.listitem_host_inner { }
.listitem_host_content { padding: 3px 0 0; width:auto; }
.listitem_intro {margin-bottom:10px;}

.listitem_tagcloud { margin-bottom: 20px }
.listitem_tagcloud a{ text-decoration:none; padding: 3px; color: #0163aa}
.listitem_tagcloud a:hover{ text-decoration:none; }

.listitem_banner { margin-bottom: 20px; border-bottom: 1px solid #f2f2f2 }
.listitem_banner_image img { padding:0 0 5px;}
.listitem_banner_content h6 { font-weight: bold; color:#e70013; }
.listitem_banner_content {padding:5px 2px }

.listitem_article { margin-bottom:8px; padding-bottom: 10px; border-bottom:1px solid #f2f2f2; line-height: 150% }
#related_objects A {padding:0 0 0 15px; background:url(/design/kinzigtal_portal_de/images/linkicon.gif) no-repeat 0 5px;}
#related_objects .tdb_listitem_img A {background:none !important; padding:0;}

/*THUMB*/
A.thumb {display:block;}


/*MISC*/

/* styles für google übersetzter */
body { position: static !important; }
.goog-te-gadget { position: absolute !important; }
/* styles für google übersetzter */

#teaser { margin-bottom: 20px }
#breadcrumb { margin: 10px 0; padding-bottom: 10px; border-bottom:1px solid #d6d0cc}
.path-separator { padding:0 3px }
.path-text { font-weight: bold }
.innershadowtop { background: url(images/shadow-top.png) repeat-x top; }
.nospace {margin: 0; padding: 0}
.nospace td, .nospace th, .nospace td:hover, .nospace th:hover, .nospace tr:hover { padding: 0; margin: 0; background: none } 
span.stars { font-weight: bold; padding: 0 0 0 5px; color: #fdee48; font-size: 120% }
span.arrow { color: #000 }
span.bold { font-weight: bold }
span.price {color:#e70013; padding-bottom:20px;}

/*SEARCHBOX*/
#searchbox {padding:17px 0 0 50px}
#searchbox .box {width:150px;margin-right:5px;padding:3px}
#logo_schwarzwald {padding: 0px 0 0 145px; }
#kinzigtal_logo {width:247px; height:72px; position:absolute; z-index:20; margin:0 0 0 600px; display: none;}

#tisch_head {position:absolute; z-index:10; margin:51px 0 0 607px;}
#footer_start_dummy {}
.footer_company {font-weight:bold;}
#ui-datepicker-div { background-color: #fff; }

/*TOOLTIP*/
.tooltip { z-index: 9999; display: none; position: absolute; top: 0px; left: 0px;  }
.navi_tooltip_container { display: none; }
.navi_tooltip_content { background: #fff; padding: 0px 20px; -moz-box-shadow: 0 0px 2px #444; -webkit-box-shadow: 0 0px 2px #444; box-shadow: 0 0px 2px #444; }
.navi_tooltip_left { margin: 0; padding: 0 }
#navi_overlay_search { background: #fff; padding: 10px; position: absolute; bottom:2px ; right:2px; z-index: 99; display: none  }

/*LANGUAGE*/
a.language_flag { display: block; }
#language_overlay { display: none }
.language_overlay { z-index: 9999; display: none;position: absolute; }
a.language_choice { display:block; width:105px; background:#e8e8e8 url(images/icons/icon-arrow-down.png) no-repeat 5px center; padding:3px 5px 3px 20px; color: #000; font-weight: bold }
a.language_choice:hover { text-decoration: none; background-color: #bcbcbc }
.language_overlay_content { background: #e8e8e8; padding:5px 10px; width:110px }
a.flag { display: block; }
a.flag.flag_ger-DE { background: url(images/flags/ger-DE.gif) no-repeat left center; padding: 5px 5px 5px 25px }
a.flag.flag_eng-GB { background: url(images/flags/eng-GB.gif) no-repeat left center; padding: 5px 5px 5px 25px }
a.flag.flag_dut-NL { background: url(images/flags/dut-NL.gif) no-repeat left center; padding: 5px 5px 5px 25px }
a.flag.flag_fre-FR { background: url(images/flags/fre-FR.gif) no-repeat left center; padding: 5px 5px 5px 25px }

/*ACTION*/
#action_links { margin-bottom: 20px }
#action_links a.listitem_link { color: #0163aa;   }
#action_links a.listitem_link:hover { color: #0163aa }
#action_toubiz { margin-bottom: 20px }

/*TABLE*/
table.nospace,table.nospace td,table.nospace tr,table.nospace thead,table.nospace tfoot,table.nospace tbody,table.nospace th,table.nospace tf { border-collapse: collapse; margin: 0px; padding: 0px; border:0}



/*NEWSLETTERBOX FOOTER*/
.footer_newsletter {width:230px}
#newsletterbox { width:230px; height:34px; }
#newsletterbox #newsletter_input { float:left; margin:1px 10px 0 0; border:0; width:135px; color:#3b3938; padding:4px 4px; background:#fff; -webkit-border-radius:.2em; -moz-border-radius:.2em; border-radius:.2em; -webkit-box-shadow: inset 0px 0px 2px 2px #cdc9be; -moz-box-shadow: inset 0px 0px 2px 2px #cdc9be; box-shadow: inset 0px 0px 2px 2px #cdc9be;}
/*#newsletterbox #newsletter_submit { float:right; border:1px solid #206db5; -webkit-border-radius: .3em; -moz-border-radius: .3em; border-radius: .3em; background: #6e6e6e; background: -webkit-gradient(linear, left top, left bottom, from(#7fb8e5), to(#206db5)); background: -moz-linear-gradient(top,  #7fb8e5,  #206db5); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fb8e5', endColorstr='#206db5'); color:#fff;	padding:2px 4px; cursor:pointer;}
#newsletterbox #newsletter_submit:hover {	background: -webkit-gradient(linear, left top, left bottom, from(#206db5), to(#7fb8e5)); background: -moz-linear-gradient(top,  #206db5,  #7fb8e5); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#206db5', endColorstr='#7fb8e5');}*/

/*FOOTER*/
#page_footer_folge, #page_footer_home {display:block; background:url(../images/bg_footer.png)}
#page_footer_folge *, #page_footer_home * {color:#000;}
#footer_folge TD, #footer_home TD {padding:0;vertical-align:top;}
TD.konus {width:210px;}
TD.footer_links {width:302px;font-size:12px}
TD.footer_links A {display:block; line-height:1.5em; }
TD.footer_links A.navlink_a {display:inline; }

TD.footer_links strong{font-size:12px; font-weight:normal}
TD.socials {width:439px;}
.social_padder {padding-left:5px}
TD.newsletter {width:285px;}
#footer_folge H3, #footer_home H3 {font-size:12px; font-weight:normal;}
#footer_folge P, #footer_home P {margin-bottom:10px;}
TD.socials H3 {margin-bottom:15px;}
#konus {position:absolute; z-index:10; margin:-30px 0 0 0}
#rathaus-logo {margin:10px 0 0 0}
#naturpark-logo, #fachwerk-logo {margin:0 30px 0 0}
.company {padding:0 0 10px 0}
.footer_delimiter {padding:0 3px}

/*TABS*/
ul.tabs { margin: 0; padding: 0; float: left; list-style: none; height: 30px; border-bottom: 0px solid #999; border-left: 0px solid #999; width: 100%; }
ul.tabs li { float: left; margin: 0; padding: 0; height: 31px; line-height: 31px; border: 0px solid #999; border-left: none; margin-bottom: -1px; overflow: hidden; position: relative; background:#1b6ab1 url(images/button-overlay.png) repeat-x top; list-style-type: none }
ul.tabs li a { text-decoration: none; color: #fff; display: block; padding: 0; text-align: center; border: 0px solid #fff; outline: none; font-weight: bold; font-size: 110% }
ul.tabs li a:hover {}
html ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover { background-color: #f0eff0; border-bottom: 1px solid #f0eff0; color: #0163aa}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a  {background: #fff; border-bottom:none}
.ui-tabs .ui-tabs-nav {padding:0.2em 0 0 0}
.tab_container { border: 0px solid #186eac; border-top: none; overflow: hidden;	clear: both; float: left; width: 100%; background: #f0eff0; }
.tab_content { padding: 0; }
.ui-tabs .ui-tabs-panel {padding: 1em 0;}

/*SOCIAL*/
.social_icons { margin: 10px 0 }

/*MAP*/
.map_action { height: 200px;}
.map_action_direction { padding:5px; background: #f1f1f1 }
.map_action_direction input.box {padding:6px; width:280px;}
#city_action_box form {padding-top:10px;}
#city_action_box DIV.map_action_direction form.form LABEL {display:block;}
#city_action_box .map_action_direction input.box {padding:6px; width:110px;}

/*TAGCLOUD*/
.tag0{ font-size:190%; }
.tag1{ font-size:170%; }
.tag2{ font-size:150%; }
.tag3{ font-size:130%; }
.tag4{ font-size:120%; }
.tag5{ font-size:115%; }
.tag6{ font-size:110%; }
.tag7{ font-size:105%; }
.tag8{ font-size:100%; }
.tag9{ font-size:90%; }
.tag10{ font-size:80%; }
.tag11{ font-size:80%; }
.tag12{ font-size:80%; }
.tag13{ font-size:80%; }
.tag14{ font-size:80%; }
.tag15{ font-size:80%; }


/*LISTDB*/
/*SOCIAL*/
.tdb_social_facebook { display: block; background: url(tdb_facebook.png) no-repeat left center; padding: 0 0 0 25px; margin-bottom: 3px }
.tdb_social_twitter { display: block; background: url(tdb_twitter.png) no-repeat left center; padding: 0 0 0 25px; margin-bottom: 3px }
.tdb_social_flickr { display: block; background: url(tdb_flickr.png) no-repeat left center; padding: 0 0 0 25px; margin-bottom: 3px }
.tdb_social_youtube { display: block; background: url(tdb_youtube.png) no-repeat left center; padding: 0 0 0 25px; margin-bottom: 3px }
.tdb_social_wikipedia { display: block; background: url(tdb_wikipedia.png) no-repeat left center; padding: 0 0 0 25px; margin-bottom: 3px }

/*FULL*/

.tdb_full_intro { font-size: 110%; }
.tdb_full_subheadline { display: block; font-size:13px; font-weight: bold; color: #444 }
.tdb_full_poi_content, .tdb_full_tour_content { float: right; width: 435px}
.tdb_full_poi_content_box, .tdb_full_tour_content_box { margin-bottom: 20px } 
.tdb_full_poi_action_address, .tdb_full_tour_action_address { padding:10px 10px 5px; background: #f1f1f1 }
.tdb_full_poi_action, .tdb_full_tour_action { float: left; width: 240px }
.tdb_full_poi_action_box, .tdb_full_tour_action_box { margin-bottom: 20px }
.tdb_full_poi_action_img img, .tdb_full_tour_action_img img {width:240px;}
.tdb_full_poi_action_box_caption, .tdb_full_tour_action_box_caption {  background: #f1f1f1; padding: 5px; font-size: 95% }
#tdb_full_poi_map, #tdb_full_tour_map { border:1px solid #f2f2f2; height:200px }
.tdb_full_poi_map_arrival_1, .tdb_full_tour_map_arrival_1 { float:left; padding: 2px 0 0 }
.tdb_full_poi_map_arrival_2, .tdb_full_tour_map_arrival_2 { float:left; margin-left:5px }
.tdb_full_poi_geo_input {padding:4px; width:280px;}
.tdb_full_poi_map_arrival_3, .tdb_full_tour_map_arrival_3 { float:left; margin-left:5px }
.tdb_full_poi_geo_label, .tdb_full_tour_geo_label { font-weight: bold; }
.tdb_full_poi_map_arrival_inner, .tdb_full_tour_map_arrival_inner { background: #f1f1f1; padding:10px }
.tdb_full_poi_table, .tdb_full_tour_table { width: 100%; margin: 0 }

.tdb_full_tour { border:1px solid #f2f2f2; margin-bottom: 20px}
.tdb_full_tour_inner { padding:10px }
.tdb_full_intro {}
.tdb_full_intro_inner {}
.tdb_full_subheadline { display: block; font-size:14px; font-weight: bold }
.tdb_full_tour_content { float: right; width: 380px}
.tdb_full_tour_content_inner {}
.tdb_full_tour_content_box { margin-bottom: 20px } 
.tdb_full_tour_action { float: left; width: 180px }
.tdb_full_tour_action_inner { padding:10px; background: #f2f2f2 }
.tdb_full_tour_action_box { margin-bottom: 10px }
.tdb_full_tour_action_img { }
.tdb_full_tour_action_img img {width:160px}
.tdb_full_tour_action_box_caption { background:#fff ;font-size: 10px; padding:5px 3px }
.tdb_full_tour_action_address {}
.tdb_full_tour_action_features {}
#tdb_full_tour_map { border:1px solid #f2f2f2; height:200px }
.tdb_full_tour_map_arrival_1 { float:left; padding: 2px 0 0 }
.tdb_full_tour_map_arrival_2 { float:left; margin-left:5px }
.tdb_full_tour_map_arrival_3 { float:left; margin-left:5px }
.tdb_full_tour_geo_label { font-weight: bold; }
.tdb_full_tour_map_arrival {}
.tdb_full_tour_map_arrival_inner { background: #f2f2f2; padding:10px }
.tdb_full_tour_table { width: 100%; margin: 0 }

/*LINE*/
.tdb_line_list { border-bottom:1px solid #f2f2f2; margin-bottom: 20px }
.tdb_line_list_children {}
.tdb_line_list_link{}

.tdb_line_poi { margin-bottom: 20px}
.tdb_line_poi_inner { }
.tdb_line_subheadline { display: block; font-size:12px; font-weight: bold }
.tdb_line_img { float: left; width:225px;}
.tdb_line_img_inner {}
.tdb_line_img_inner img {width:215px}
.tdb_line_content { float: right; width: 455px }
.tdb_line_content_inner {}
.tdb_line_content_intro {}
.tdb_line_content_link {}
.tdb_line_content_link a { font-weight: bold; color:green }

.tdb_line_tour { border:1px solid #f2f2f2; margin-bottom: 20px}
.tdb_line_tour_inner { padding:10px }


/*LISTITEM*/
.listitem_poi {margin-bottom: 20px;; float: left; border: 1px}
.tdb_listitem_poi {background:#DBE9FC; padding:5px;}
.tdb_listitem_poi_inner { width: 205px; }
.tdb_listitem_subheadline { display: block; font-size:12px; font-weight: bold }
.tdb_listitem_img { height: 130px; overflow: hidden }
.tdb_listitem_img_inner {}
.tdb_listitem_img_inner img { width: 205px;  }
.tdb_listitem_img_inner img a { border: 0 }
.tdb_listitem_content {}
.tdb_listitem_content_inner { padding: 3px }
.tdb_listitem_content_link {display: block}
.tdb_listitem_content_link a { font-weight: bold; }


.listitem_tour {margin-bottom: 20px; margin-right: 11px; float: left; }
.tdb_listitem_tour {}
.tdb_listitem_tour_inner { width: 182px; }
.listitem_center {margin-left:25px; margin-right:25px;}

.thumb_host_inner {margin:0 0 20px 0}
.thumb_host_inner H2 {font-size:15px; padding-left:0;}

#routeplaner LABEL { margin:15px 15px 0 0; display:block; }
#routeplaner INPUT#fromAddress {padding:4px; width:300px;}
#routeplaner SELECT#toAddress {padding:4px; width:310px; margin:0 0 15px 0}

/*PRESSE*/
.loggerbox_outside {padding:0 0 0 0; margin:0 0 10px 0}
.loggerbox { font-size:11px; width:220px;}
.loggerbox_inside {padding:10px 5px;background:#fff0f5; }

/*BUTTONS*/
/*www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba*/
.button {  display: inline-block;  color: #fff; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; cursor: pointer;border:0; padding:5px 10px}
.button:hover { background-color: #111; color: #fff; text-decoration: none}
.button:active {  }
.small.button { font-size: 12px; }
.medium.button { font-size: 13px; }
.large.button { font-size: 14px; padding: 8px 14px 9px; }
.green.button, .green.button:visited { background-color: green; }
.green.button:hover { background-color: #368625; }
.blue.button, .blue.button:visited { background-color: #003173; 
	background: -webkit-gradient(linear, left top, left bottom, from(#0749a9), to(#003173));
	background: -moz-linear-gradient(top,  #0749a9,  #003173);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0749a9', endColorstr='#003173');
}
.blue.button:hover { -webkit-box-shadow: 1px 1px 2px 1px rgba(85, 85, 85, 0.8);
-moz-box-shadow: 1px 1px 2px 1px rgba(85, 85, 85, 0.8);
box-shadow: 1px 1px 2px 1px rgba(85, 85, 85, 0.8); }
.blue.button.border { border: 1px solid #1b6ab1 }
.red.button, .red.button:visited { background-color: #e33100; }
.red.button:hover { background-color: #872300; }
.magenta.button, .magenta.button:visited { background-color: #a9014b; }
.magenta.button:hover { background-color: #630030; }
.orange.button, .orange.button:visited { background-color: #ff5c00; }
.magenta.button:hover { background-color: #630030; }
.yellow.button, .yellow.button:visited { background-color: #ffb515; }
.yellow.button:hover { background-color: #fc9200; }


/*HEADERFADER*/
ul#header_fade { list-style:none; padding:0 0 0 10px; margin:0; }
ul#header_fade li,ul#header_fade li a,ul#header_fade li img,ul#header_fade li a img { padding:0; margin:0; }
ul#header_fade li {list-style-type:none;}

/*START*/
.start_teasers {padding:20px 0 20px 0; }
.start_teaser {float:left; border:1px solid #d1d1d1;  width:260px; background:#fff; height:323px}
.start_teaser_left {margin-right:15px;}
.start_teaser P {font-size:11px;}
.start_teaser .listitem_teaser_button A {color:#000;}
.start_teaser H2 A {font-weight:bold;}

/*QUICKFINDER STARTSEITE*/
#quickfinder {width:255px; background:url(../images/bg_trans.png); -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin:0 0 0 0; padding:20px 0 0 0; display:block; font-size:12px;}

#quickfinder INPUT, #start_quickfinder SELECT  {width:153px; border:1px solid #b8bbc0; font-style:italic; color:#606062}
#quickfinder INPUT.button {color:#fff; font-style:normal; font-size:11px; width:auto;}
#quickfinder INPUT {padding:3px 4px; margin-bottom:15px}
#quickfinder table { border-collapse:collapse; border-top:none; border-bottom:none; margin:0 5px }
#quickfinder table { table-layout:fixed; }
#quickfinder table td { padding:0; text-align:left; font-weight:normal}
#quickfinder table tr { border-bottom: none }
#quickfinder  table tr:hover { background: none }
.td_left {margin:0 5px 15px 0}
#quickfinder .calendar {background:url(../images/icon_calendar.png) 140px 1px no-repeat;}
#quickfinder #number_adult {background:url(../images/icon_people.png) 140px 3px no-repeat;}
#quickfinder #number_child {background:url(../images/icon_children.png) 140px 3px no-repeat;}

/*QUICKFINDER LISTITEM*/
#quickfinder_listitem {border:1px solid #ccc; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin:0 0 20px 0; display:block; font-size:12px; padding:8px 7px;}
#quickfinder_listitem H3 {font-weight:bold; margin-bottom:10px}
#quickfinder_listitem INPUT, #start_quickfinder SELECT  {width:180px; border:1px solid #b8bbc0; font-style:italic; color:#606062}
#quickfinder_listitem INPUT.button {color:#fff; font-style:normal; font-size:11px; width:192px; margin:0;}
#quickfinder_listitem INPUT {padding:3px 4px; margin-bottom:15px}
#quickfinder_listitem FORM.yform {padding:0;}
.td_left {margin:0 5px 15px 0}
.calendar {background:url(../images/icon_calendar.png) 170px 1px no-repeat;}
#number_adult {background:url(../images/icon_people.png) 170px 3px no-repeat;}
#number_child {background:url(../images/icon_children.png) 170px 3px no-repeat;}



.ui-tabs { position: relative; padding: 0; zoom: 1; } 
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -khtml-border-top-left-radius: 0; border-top-left-radius: 0; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -khtml-border-top-right-radius: 0; border-top-right-radius: 0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -khtml-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; -khtml-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }

.ui-widget-content { border: none; background: none; color: #222222; }
#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5 {border-bottom:1px solid  #aaaaaa; border-left:1px solid  #aaaaaa; border-right:1px solid  #aaaaaa; background:#fff;}


/*A-Z*/
#azbox { position:relative; padding-top:10px; }
#azbox .listNav { margin:0 0 10px; }
#azbox .ln-letters { overflow:hidden; }
#azbox .ln-letters a { font-size:.9em; display:block; float:left; padding:2px 6px; border:1px solid silver; border-right:none; text-decoration:none; }
#azbox .ln-letters a.ln-last { border-right:1px solid silver; }
#azbox .ln-letters a:hover,#azbox .ln-letters a.ln-selected { background-color:#eaeaea; }
#azbox .ln-letters a.ln-disabled { color:#ccc; }
#azbox .ln-letter-count { display:none; position:absolute; top:0; left:0; width:20px; text-align:center; font-size:.8em; line-height:1; margin-bottom:3px; color:#336; }


/*EVENTS*/
.event_infobox {position:absolute; z-index:11120; width:328px; height:46px; background:url(/design/kinzigtal_portal_de/images/eventbox_bg.png); margin-top:145px; text-align:left;}
.event_infobox_padder {padding:3px 5px 5px 5px; background:url(/design/kinzigtal_portal_de/images/eventbox_bg.png);}
.event_infobox H1 {font-size:12px; color:#fff;}
.event_infobox A, .event_infobox P {color:#fff}
.event_infobox A:hover {color:#fff; text-decoration:none;}
.list_carousel {width: 328px;}
.list_carousel ul {margin: 0; padding: 0; list-style: none; display: block;}
.list_carousel li {color: #999;text-align: center;background-color: #eee;width: 328px;height: 191px;padding: 0;display: block;float: left;}
.list_carousel.responsive {width: auto; margin-left: 0;}
.clearfix {float: none;clear: both;}
.prev {float: left;}
.next {float: right;margin-right: 10px;}
.pager {float: left;width: 300px;text-align: center;padding-top:8px;}
.pager a {margin: 0 5px;text-decoration: none;}
.pager a.selected {text-decoration: underline;}
.timer {background-color: #999;height: 6px;width: 0px;}
.pager A {display:block;width:22px;height:22px;background:url(/design/kinzigtal_portal_de/stylesheets/images/nivoslider/bullets.png) no-repeat;border:0;margin-right:3px;float:left;}
.pager A span {display:none;}
.pager A.selected {background-position:0 -22px;}
.listitem_carousel {width: 205px;}
.listitem_carousel .pager {float: left;width: 205px;text-align: center;padding-top:0;}
.listitem_carousel li {color: #999;text-align: center;background-color: #eee;width: 205px;height: 154px;padding: 0;display: block;float: left;}
.listitem_carousel  .event_infobox {position:absolute; z-index:11120; width:205px; height:60px; background:url(../images/eventbox_bg.png); margin-top:95px; text-align:left; font-size:10px;}
.va_link {display:block; padding:15px 0 12px 10px; font-size:11px; height:15px; color:#000}
.va_link span {color:#CB1B19}
table#list_filter  { width: auto; border-collapse:collapse; margin-bottom:20px; border-top:none; border-bottom:none; }

table#list_filter  tr { border-bottom: none }
table#list_filter  tr:hover { background: none }
.line_flv {margin-bottom:20px; padding-left:0;}
.line_youtube {margin-bottom:20px;}

TABLE.sitemap TR:hover {background:none;}
.start_event_link {font-size:11px; display:block; text-align:right;padding:5px; }


#searchbox {width:1px; position:absolute; z-index:100; margin:2px 0 0 475px; height:1px}
#search_form {margin-top:8px }
#search_input {width:150px; padding:6px; margin:8px 0 0 -40px}
#search_submit {margin:7px 0 0 95px;}
#search_opener {margin:15px 0 0 95px;}
#search_opener:hover {cursor:pointer;}

#tagcloud_header {margin:45px 0 0 0; background:url(../images/bg_tagcloud.png); height:63px; overflow:hidden; }
#tagcloud_header * {font-family:times}
#tagcloud_header .gengenbach_claim H2 {background:#7FD204; color:#000; font-size:23px; font-weight:normal; padding:5px 10px; margin-bottom:0}
#tagcloud_header .gengenbach_claim H2 .gengenbach {color:#fff}
#tagcloud_header .gengenbach_claim H3 {color:#000; background:#7FD204; display:inline; padding:5px 10px; font-size:18px; margin-top:-2px} 
#tagcloud_header .listitem_tagcloud {margin-bottom:0}
.gengenbach_tags {padding:5px 10px}
.gengenbach_tags A {color:#fff}
.gengenbach_tags H3 {display:none;}


.line_links {margin-bottom:20px; display:block}

#left-border {width:10px; background:#fff; position:absolute; z-index:1000000000000000000; height:200px}
#right-border {width:10px; background:#fff; position:absolute; z-index:1000000000000000000; height:200px; margin:0 0 0 333px}

#action_folge #left-border, #action_folge  #right-border {display:none;}

.ui-tabs .ui-tabs-nav li {filter:none;}
.alp-bva-basic {display:none !important}

#close {
	position: absolute;
	top: 160px;
	right: 5px;
}
#prev {
	position: absolute; 
	left: 5px; 
	top: 50%;
}
#next{
	position: absolute;
	right: 5px;
	top:50%;
}
#gallery:hover,
#website:hover,
#prev:hover,
#next:hover,
#close:hover {
	cursor: pointer;
}
#website,
#close {
	display: none;
}

#fancybox-wrap {
    z-index: 9999999999999;
}

.alptein_tour_line_image img {
    max-width: 100%;
}