.form {font: normal 12px/1em arial, Verdana, "Trebuchet MS", Helvetica, sans-serif;}
.form fieldset { border: 1px solid #d6d6d6; background:#f7f7f7; padding:1.4em 1.4em 1.4em 1.4em; margin: 0 0 1em; }
.form-element { padding: 3px }
.form-element:hover {background:#e5e5e5;}
.form-req { font-weight: bold; color:#d10000; font-size:1.4em; }
.form legend { font-size:1.1em;	padding: 10px 10px;	margin-left:1.04%; color:#1B6AB1; }
.form label { font-size:1em; font-weight: bold;	display: block; color: #444 }
.form input.box, .form textarea, .form select {	border-color:#235485; background: #fff;	color:#333;	font: normal 12px/1em arial, Verdana, "Trebuchet MS", Helvetica, sans-serif; padding:3px }
.form input.box { width:300px }
.form textarea { width: 400px; height: 250px; padding:5px; }
.form input.box:hover, .form textarea:hover, .form select:hover { border-color:#235485; background: #fafafa; color:#333; }
.form input.box:focus, .form textarea:focus, .form select:focus {border-color:#103b66;	background: #e7ffe2; color:#235485; }
.form input[type=text], .form input[type=password], .form textarea { background-color:#fff;	border:1px solid #bbb; }
.form input[type=text]:focus, .form input[type=password]:focus, .form textarea:focus { border-color:#666; }
.form select { background-color:#fff; border-width:1px; border-style:solid; }
.form input[type=text], .form input[type=password], .form textarea, select { margin:0.5em 0; }

