@import url(yaml/core/iehacks.css);
html ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover { background-color: #f0eff0; }

* html #col3 {height: 1%}
* html #col1 {margin-left: -3px}
* html #col3 {margin-right: 317px}
#kinzigtal_logo {width:247px; height:125px; position:absolute; z-index:20; margin:0 0 0 -50px}

