/*LISTITEM*/
.listitem_alpstein_tour {margin-bottom: 20px; margin-right: 11px; float: left; border: 1px}
.alpstein_tour_listitem_poi {}
.alpstein_tour_listitem_poi_inner { width: 182px; }
.alpstein_tour_listitem_subheadline { display: block; font-size:12px; font-weight: bold }
.alpstein_tour_listitem_img { height: 130px; overflow: hidden }
.alpstein_tour_listitem_img_inner {}
.alpstein_tour_listitem_img_inner img { width: 182px;  }
.alpstein_tour_listitem_img_inner img a { border: 0 }
.alpstein_tour_listitem_content {}
.alpstein_tour_listitem_content_inner { padding: 3px }
.alpstein_tour_listitem_content_link {display: block}
.alpstein_tour_listitem_content_link a { font-weight: bold; color:green }

/*LINE*/
.alpstein_line_list { border-bottom:1px solid #f2f2f2; margin-bottom: 20px }
.alpstein_line_list_children {}
.alpstein_line_list_link{}

.alptein_tour_line { border-bottom:1px solid #9b9b9b; margin-bottom: 20px; }
.alptein_tour_line H2 {padding:8px 0 7px 30px; background-size: 24px 24px !important;}
.alptein_tour_line_info { border-bottom:1px solid #9b9b9b; border-top:1px solid #9b9b9b; padding: 3px 5px; background: #f2f2f2; margin-top: 10px }
.alptein_tour_line_tbl { border-collapse: collapse; border-spacing: 0; border: 0; width: 100%; margin: 0}
.alptein_tour_line_tbl td { border: 0; padding: 0; font-size: 90%; color: #444; }
.alptein_tour_line_label { font-weight: bold }
.alptein_tour_line_main { margin: 5px 0 }
.alptein_tour_line_image { float: left; width: 215px }
.alptein_tour_line_image img { max-width: 100%; }
.alptein_tour_line_content { float: right; width: 450px }

/*FULL*/
#alptein_tour { border:0px solid #f2f2f2 }
#alpstein_tour *, .alpstein_tour_content *, .alpstein_tour_action * { color: #444; }
#alptein_tour h2 { font-size: 110%; font-weight: bold }
#alptein_tour h3 { font-size: 100%; font-weight: bold }
#alpstein_tour_map { height: 400px; margin-bottom: 3px }
.alptein_tour_cat_icon { float: right; font-size: 60%; padding-left: 25px; margin-top: 5px; height: 18px; color: #444; background: #fff }
.alpstein_tour_ratings { border-bottom:1px solid #9b9b9b; border-top:1px solid #9b9b9b; padding: 5px 0; margin-bottom: 10px }
.alpstein_tour_rating_item { float:left; width: 25% }
.alpstein_tour_rating_name { float:left; margin:0 5px; font-weight: bold; color: #444; font-size: 90% }
.alpstein_tour_rating_image { float:left; height: 15px; width: 66px; overflow: hidden; }
.alpstein_tour_rating_image .alpstein_tour_rating_star {height: 13px; width: 13px; margin-left: 1px}
.alpstein_tour_content {}
.alpstein_tour_action { float: right; width: 200px; margin: 0 0 10px 20px; border-bottom: 1px solid #9b9b9b; background:#fff }
.alptein_tour_tbl {	border-collapse: collapse; border-spacing: 0; border: 0; width: 100%; margin: 10px 0 20px }
.alptein_tour_tbl tr { border-bottom: 1px dotted #f2f2f2; }
.alptein_tour_tbl td {padding: 3px 0; font-size: 90%;}
.alptein_tour_tbl td.alptein_tour_tbl_label { font-weight: bold }
.alptein_tour_tbl td.alptein_tour_tbl_value { text-align: right }
.alpstein_tour_gallery { margin-bottom: 20px; width: 380px }
.alptein_tour_tbl_gallery {	border-collapse: collapse; border-spacing: 0; border: 0; width: 100%; margin-top: 3px; background: #f2f2f2 }
.alptein_tour_tbl_gallery tr, .alptein_tour_tbl_gallery td { border:0; padding: 2px 0 }
.alptein_tour_tbl_gallery td.alpstein_tour_tbl_image { width: 20%; text-align: center }

.alptein_tour_direction { background: #f2f2f2; padding:10px; margin-bottom: 20px; width: 460px }
.alptein_tour_direction_saddr { width:300px }

/*FILTER*/
#alpstein_tour_filter { margin-bottom: 30px; }
.alpstein_tour_filter_result_true { background: green; padding: 5px 10px; color: #fff; margin-bottom: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.alpstein_tour_filter_result_false { background: #a80402; padding: 5px 10px; color: #fff; margin-bottom: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/*BUTTON*/
.alptein_tour_button { display: block; cursor: pointer;	font-weight: bold; color: #fff; padding: 5px 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #a80402; }
.alptein_tour_button:hover { color: #fff;}
.alptein_tour_button2 { display: block; cursor: pointer;	font-weight: bold; color: #fff; padding: 5px 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #444; }
.alptein_tour_button2:hover { color: #fff;}