/*VIEW BUBBLE*/
.bubble-cms { text-align: left }
.bubble-cms h5 { margin: 0 0 5px; padding: 0; line-height: 13px; font-size: 14px }
.bubble-cms .bubble_image { margin-bottom: 4px }
.bubble-cms .bubble_content p, .bubble-cms .bubble_link { font-size: 11px; line-height: 12px }
.bubble-cms .bubble_content table * { font-size: 95%; line-height: 115% }

/*MAP FULL*/
#lisgmap_map { height: 550px; border:1px solid #f2f2f2 }
#lisgmap_map * input { display: inline; }
#lisgmap_map * label { width: auto; padding: 0; display: inline; float: none !important}

.lisgmap_container { position: relative }
.lisgmap_fullscreen_container {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

ul#lisgmap_nav_list{ margin: 0; padding: 0; }
ul#lisgmap_nav_list li { list-style: none; margin: 0; padding: 0 }
ul#lisgmap_nav_list li.lisgmap_fullscreen { padding: 5px 0 0; text-align:right }

a.lisgmap_nav_list_link, a.lisgmap_nav_list_link_virtual {
	display:block;
	padding:5px 10px 5px 30px;
	margin: 0 0 2px;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:90%;
	text-decoration:none;
	font-weight:bold;
	cursor:pointer;
	background-color:#333333;	
	color:#fff;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.lisgmap_close_by { margin-top: 5px }

a.lisgmap_nav_list_link:hover, a.lisgmap_nav_list_link_virtual:hover {
	background-color:#d0d0d0;
	color:#000;
}

a.lisgmap_nav_list_link img, a.lisgmap_nav_list_link_virtual img {
	margin:-2px 6px 0 0 !important;
	padding:0;
	width:16px;
	border:none;  
	float:none;
}

a.lisgmap_nav_list_link.active, a.lisgmap_nav_list_link_virtual.active {
  background:#a4a4a4 url(img_lisgmap/lisgmap_active.png) no-repeat 7px center;
  color:#000;
}

a.lisgmap_nav_list_link.active:hover, a.lisgmap_nav_list_link_virtual.active:hover {
  background:#d0d0d0 url(img_lisgmap/lisgmap_active.png) no-repeat 7px center;
}

a.lisgmap_nav_list_link.loading, a.lisgmap_nav_list_link_virtual.loading {
  background:#f2f2f2 url(img_lisgmap/lisgmap_loader_16.png) no-repeat 7px center;
  color:#000;
}

a.lisgmap_nav_list_link_fullscreen { font-size: 90%; color: #fff; background: url(img_lisgmap/lisgmap_fullscreen_white.png) no-repeat left center; padding: 0px 2px 0px 20px; text-decoration: none; opacity: 0.4 }
a.lisgmap_nav_list_link_fullscreen:hover { opacity: 1 }

.lisgmap_marker_window { background: #fff; color: #444; width: 220px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); border-radius: 4px; }
.lisgmap_marker { padding: 10px; position: relative } 
.lisgmap_marker_arrow { 
	border-color: #fff transparent transparent transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	bottom:-19px;
	left:100px;
}

.lisgmap_fullscreen_panel { 
	position: absolute;
	top: 5px;
	left: 160px;
	display: none;
	background: #222222;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: auto;
	height: auto;
	padding: 10px;
	z-index: 99;
}

.lisgmap_fullscreen_panel_logo { float: left; margin-right: 10px }
.lisgmap_fullscreen_panel_links { float: left; padding-top: 10px }
.lisgmap_fullscreen_panel_links a { color: #fff; font-size: 150%; text-decoration: none; opacity: 0.5; padding:5px;  }
.lisgmap_fullscreen_panel_links a:hover { opacity: 1 }

.lisgmap_panel {
	position: absolute;
	top: 40px;
	right: 0;
	display: block;
	background: #222222;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	width: auto;
	height: auto;
	padding: 10px;
	z-index: 99;
}


a.lisgmap_trigger{
	position: absolute;
	text-decoration: none;
	top: 10px; right: 0;
	color:#fff;
	padding: 10px 10px 10px 35px;
	background:#333333 url(img_lisgmap/lisgmap_plus.png) 15% 55% no-repeat;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	display: block;
	z-index: 99;
}

a.lisgmap_trigger:hover{
background:#222222 url(img_lisgmap/lisgmap_plus.png) 15% 55% no-repeat;
}

a.lisgmap_trigger_active.lisgmap_trigger {
background:#222222 url(img_lisgmap/lisgmap_minus.png) 15% 55% no-repeat;
}

a.lisgmap_trigger_active.lisgmap_trigger.lisgmap_trigger_loading {
background:#222222 url(img_lisgmap/lisgmap_loader_16_white.png) 15% 55% no-repeat;
}

#lisgmap_container_loader {
	display: none;
 	width: 200px;
 	background-color: #fff;
 	position: absolute;
 	left: 50%;
 	top: 25%;
 	z-index: 9999999;
 	margin-top: -50px;
 	margin-left: -140px;
 	text-align: center;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em; 	
	border: 20px solid rgba(0,0,0,0.3);
	padding: 20px;
	-moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}