#menu {	list-style:none; margin:31px auto 0 auto; height:36px; padding:0px 5px 0px 5px; background:url(../images/bg_nav.gif) repeat-x; )}
#menu li {float:left; display:block; text-align:center; position:relative; padding: 0 12px 4px 8px; margin:5px 0px 0 0; background:url(../images/nav_delimiter.png) no-repeat right top}
#menu li.last {background:none;}
#menu li:hover {}
#menu li a {font-size:14px;	color: #fff; display:block; outline:0; text-decoration:none; padding:4px 5px 9px 5px;}
#menu li a:hover {color:#7fd204; background:#311b04;}
#menu li .hider {display:none;} 
/*#menu li:hover .hider {height:3px; background:#fff; position:absolute; z-index:101; width:99.9%; margin:1px 0 0 -8px; display:block;}*/
/*.dropdown {padding:15px 5px 0 10px;	-webkit-box-shadow: 0px 2px 2px 2px #aaaaaa; -moz-box-shadow: 0px 2px 2px 2px #aaaaaa; box-shadow: 0px 2px 2px 2px #aaaaaa;	margin:4px auto; float:left; position:absolute;	left:-999em; text-align:left;  background:#fff; -moz-border-radius: 0px 2px 2px 2px;	-webkit-border-radius: 0px 2px 2px 2px;	border-radius: 0px 2px 2px 2px;	z-index:100;}*/
.dropdown {padding:8px 5px 5px 10px;  float:left; position:absolute;	left:-999em; text-align:left; z-index:100; width:200px; background:#7fd204 url(../images/nav_corner_top.gif) no-repeat 20px 0 ; }
#menu li .dropdown a {color:#311b04;  border-bottom:1px solid #6cad07; padding:4px 0} 
#menu li .dropdown a:hover {color:#fff; background:none;}
#menu li .dropdown a.last {border-bottom:none;}
#menu li:hover .dropdown {left:0; top:auto;}
#menu .navsmall {width:200px;}
#menu .navmedium {width:400px;}
#menu .navlarge {width:600px;}